
.cards {
    display: flex;
    flex-direction: column;
    background-color: var(--elements-color);
    color: var(--textColor);
    text-decoration: none;
    margin: 15px 0;
    width: 200px;
    height: 270px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.144);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
.flag {
    height: 130px;
    width: 200px;
}
.info {
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
h3 {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 600;
}
.country_info {
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
}